<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:replace="~{fragments :: css}"></link>
<link th:replace="~{fragments :: bootstrap}"></link>
<title>Crea una nuova pizza</title>

</head>
<body>
	<div>
		
		<div class="container">
			<div th:insert="~{fragments :: link}"></div>
			
			<div class="row">
				<div class="col-12">
				
					<div class="create-container">
						<h1>Crea la tua offerta</h1>
						<form id="offer-form" th:object="${newOffer}" th:action="@{/offer/create}" method="POST">
						
						<input type="hidden" th:field="${newOffer.pizza}">
						
						<div class="mt-4">
							<label for="nome">Titolo</label> <br>
							<input type="text" id="title" th:field="*{title}" th:errorClass="is-invalid"  class="form-control">
							<div th:if"${#fields.hasErrors('title')}" class="invalid-feedback">
								<div th:each="err: ${#fields.errors('title')}" th:text="${err}"></div>
							</div>
						</div>
						
						<div class="mt-4">
							<label for="startDate">Start date</label> <br>
							<input type="date" id="startDate" th:field="*{startDate}"  th:errorClass="is-invalid"  class="form-control"></input>
							<div th:if"${#fields.hasErrors('startDate')}" class="invalid-feedback">
								<div th:each="err: ${#fields.errors('startDate')}" th:text="${err}"></div>
							</div>
						</div>
						
						<div class="mt-4">
							<label for="endDate">End date</label> <br>
							<input type="date" id="endDate" th:field="*{endDate}"  th:errorClass="is-invalid"  class="form-control">
							<div th:if"${#fields.hasErrors('foto')}" class="invalid-feedback">
								<div th:each="err: ${#fields.errors('endDate')}" th:text="${err}"></div>
							</div>
						</div>
						
						

						<div class="d-flex align-items-center mt-3">
							<input class="btn btn-primary me-3" type="submit" value="invia">
							<a class="btn btn-secondary" th:href="@{/pizza}">Annulla</a>
						</div>
						
						
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:insert="~{fragments :: bootstrapScript}"></div>
</body>
</html>